# Q:  Enter the maximum number of days between password changes:
AccountSecurity.PASSWORD_MAXDAYS="91"
# Q:  Enter the minimum number of days between password changes.
AccountSecurity.PASSWORD_MINDAYS="7"
# Q:  Enter the number of days a user will be warned that their password will expire.
AccountSecurity.PASSWORD_WARNDAYS="28"
# Q:  Should Bastille disallow root logins from network TTYs? [N]
AccountSecurity.create_securetty="Y"
# Q:  Would you like to hide the encrypted passwords on this system?
AccountSecurity.hidepasswords="Y"
# Q:  Do you want to setup password policies?
AccountSecurity.passwordpolicies="Y"
# Q:  Would you like to password protect single-user mode?
AccountSecurity.single_user_password="N"
# Q:  Do you want basic system security auditing enabled?
AccountSecurity.system_auditing="Y"
# Q:  What umask would you like to set for users on the system? [077]
AccountSecurity.umask="077"
# Q:  Do you want to set the default umask? [Y]
AccountSecurity.umaskyn="Y"
# Q:  Would you like to chroot your HP Web Services Apache Server? [N]
Apache.chrootapache="N"
# Q:  Would you like to deactivate the HP Web Services Apache Web Server?
Apache.deactivate_hpws_apache="Y"
# Q:  Would you like to chroot named and set it to run as a non-root user? [N]
DNS.chrootbind="N"
# Q:  Would you like to disallow ftpd system account logins?
FTP.ftpusers="Y"
# Q:  Should Bastille scan for world-writeable directories?
FilePermissions.world_writeable="Y"
# Q:  Are you willing to mail your configuration and TODO list to HP?
HP_UX.mail_config="N"
# Q:  Would you like Bastille to make the suggested ndd changes?
HP_UX.ndd="Y"
# Q:  Would you like information about other security tools that HP has to offer?
HP_UX.other_tools="N"
# Q:  Would you like to restrict remote access to swlist?
HP_UX.restrict_swacls="N"
# Q:  Would you like instructions in your TODO list on how to run a port scan?
HP_UX.scan_ports="N"
# Q:  Would you like to enable kernel-based stack-execute protection?
HP_UX.stack_execute="Y"
# Q:  Should Bastille setup basic firewall rules with these properties?
IPFilter.configure_ipfilter="N"
# Q:  Would you like information on how to get a copy of IPFilter?
IPFilter.install_ipfilter="N"
# Q:  Would you like to disable both the ptydaemon and vtdaemon?
MiscellaneousDaemons.disable_ptydaemon="Y"
# Q:  Would you like to disable pwgrd?
MiscellaneousDaemons.disable_pwgrd="N"
# Q:  Should Bastille deactivate rbootd?
MiscellaneousDaemons.disable_rbootd="Y"
# Q:  Would you like to deactivate NFS client daemons? [Y]
MiscellaneousDaemons.nfs_client="Y"
# Q:  Would you like to deactivate the NFS server on this system? [Y]
MiscellaneousDaemons.nfs_server="Y"
# Q:  Would you like to deactivate NIS client programs? [Y]
MiscellaneousDaemons.nis_client="Y"
# Q:  Would you like to deactivate NIS server programs? [Y]
MiscellaneousDaemons.nis_server="Y"
# Q:  Would you like to disable SNMPD? [Y]
MiscellaneousDaemons.snmpd="Y"
# Q:  Would you like to disallow remote X logins?
MiscellaneousDaemons.xaccess="Y"
# Q:  Should Bastille set up a cron job to run SWA or SPC?
Patches.spc_cron_run="N"
# Q:  Does this machine require a proxy to ftp to the Internet?
Patches.spc_proxy_yn="N"
# Q:  Should Bastille run SWA/SPC for you?
Patches.spc_run="Y"
# Q:  Would you like to display "Authorized Use" messages at log-in time? [Y]
SecureInetd.banners="Y"
# Q:  Should Bastille ensure inetd's bootp service does not run on this system?
SecureInetd.deactivate_bootp="Y"
# Q:  Should Bastille ensure that inetd's built-in services do not run on this system?
SecureInetd.deactivate_builtin="Y"
# Q:  Should Bastille ensure that inetd's CDE helper services do not run on this system?
SecureInetd.deactivate_dttools="Y"
# Q:  Should Bastille ensure inetd's finger service does not run on this system?
SecureInetd.deactivate_finger="Y"
# Q:  Should Bastille ensure inetd's FTP service does not run on this system? [y]
SecureInetd.deactivate_ftp="Y"
# Q:  Should Bastille ensure inetd's ident service does not run on this system?
SecureInetd.deactivate_ident="Y"
# Q:  Should Bastille ensure that the inetd's klogin and kshell services do not run on this system?
SecureInetd.deactivate_ktools="Y"
# Q:  Should Bastille ensure inetd's ntalk service does not run on this system?
SecureInetd.deactivate_ntalk="Y"
# Q:  Should Bastille ensure that inetd's printer service does not run on this system?
SecureInetd.deactivate_printer="Y"
# Q:  Should Bastille ensure that inetd's recserv service does not run on this system?
SecureInetd.deactivate_recserv="Y"
# Q:  Should Bastille ensure that the login, shell, and exec services do not run on this system?
SecureInetd.deactivate_rtools="Y"
# Q:  Should Bastille ensure that inetd's swat service does not run on this system?
SecureInetd.deactivate_swat="N"
# Q:  Should Bastille ensure the telnet service does not run on this system? [y]
SecureInetd.deactivate_telnet="Y"
# Q:  Should Bastille ensure inetd's TFTP service does not run on this system?
SecureInetd.deactivate_tftp="Y"
# Q:  Should Bastille ensure that inetd's time service does not run on this system?
SecureInetd.deactivate_time="Y"
# Q:  Should Bastille ensure inetd's uucp service does not run on this system?
SecureInetd.deactivate_uucp="Y"
# Q:  Should Bastille tell you to disable unneeded inetd services in the TODO list?
SecureInetd.inetd_general="N"
# Q:  Should Bastille enable logging for all inetd connections?
SecureInetd.log_inetd="Y"
# Q:  Who is responsible for granting authorization to use this machine?
SecureInetd.owner="its owner"
# Q:  Would you like to run sendmail via cron to process the queue? [N]
Sendmail.sendmailcron="Y"
# Q:  Do you want to stop sendmail from running in daemon mode? [Y]
Sendmail.sendmaildaemon="Y"
# Q:  Would you like to disable the VRFY and EXPN sendmail commands? [Y]
Sendmail.vrfyexpn="N"
