# Q   Do you want an account to be locked after too many consecutive authentication failures?
AccountSecurity.AUTH_MAXTRIESyn="Y"
# Q:  What is the maximum number of failed authentication attempts?
AccountSecurity.AUTH_MAXTRIES="10"
# Q:  Do not allow logins unless the home directory exists?
AccountSecurity.ABORT_LOGIN_ON_MISSING_HOMEDIR="N"
# Q:  What should the minimum length of NEW passwords be?
AccountSecurity.MIN_PASSWORD_LENGTH="7"
# Q:  Should non-root users be disallowed from logging in if /etc/nologin exists?
AccountSecurity.NOLOGIN="N"
# Q:  Do you want to set a maximum number of logins per user?
AccountSecurity.NUMBER_OF_LOGINS_ALLOWEDyn="N"
# Q:  Enter the password history depth.
AccountSecurity.PASSWORD_HISTORY_DEPTH="10"
# Q:  Would you like to set a password history depth?
AccountSecurity.PASSWORD_HISTORY_DEPTHyn="Y"
# Q:  Enter the maximum number of days between password changes:
AccountSecurity.PASSWORD_MAXDAYS="91"
# Q:  Enter the minimum number of days between password changes.
AccountSecurity.PASSWORD_MINDAYS="7"
# Q:  Enter the number of days a user will be warned that their password will expire.
AccountSecurity.PASSWORD_WARNDAYS="28"
# Q:  Do you want to set a default path for the su command?
AccountSecurity.SU_DEFAULT_PATHyn="N"
# Q:  Would you like to restrict the use of at to administrative accounts? [Y]
AccountSecurity.atuser="Y"
# Q:  Would you like to disable login access to the system accounts? [Y]
AccountSecurity.block_system_accounts="Y"
# Q:  Should Bastille disallow root logins from network TTYs? [N]
AccountSecurity.create_securetty="Y"
# Q:  Would you like to ensure the crontab files are only accessible by root? [Y]
AccountSecurity.crontabs_file="Y"
# Q:  Would you like to restrict the use of cron to administrative accounts? [Y]
AccountSecurity.cronuser="Y"
# Q:  Would you like to disable the local graphical login? [Y]
AccountSecurity.gui_login="Y"
# Q:  Would you like to hide the encrypted passwords on this system?
AccountSecurity.hidepasswords="Y"
# Q:  Would you like to lock the local accounts with no password? [Y]
AccountSecurity.lock_account_nopasswd="Y"
# Q:  Would you like to set mesg n for all users? [Y]
AccountSecurity.mesgn="Y"
# Q:  Do you want to setup password policies?
AccountSecurity.passwordpolicies="Y"
# Q:  Would you like to restrict the home directory permissions? [Y]
AccountSecurity.restrict_home="Y"
# Q:  Should Bastille remove the dot from the root path? [Y]
AccountSecurity.root_path="Y"
# Q:  Would you like to disable all serial ports besides the console? [Y]
AccountSecurity.serial_port_login="Y"
# Q:  Would you like to password protect single-user mode?
AccountSecurity.single_user_password="N"
# Q:  Do you want basic system security auditing enabled?
AccountSecurity.system_auditing="Y"
# Q:  What umask would you like to set for users on the system? [077]
AccountSecurity.umask="077"
# Q:  Do you want to set the default umask? [Y]
AccountSecurity.umaskyn="Y"
# Q:  Would you like to assign unowned files to the bin user? [Y]
AccountSecurity.unowned_files="Y"
# Q:  Would you like remove world-write permission from local user account dot files? [Y]
AccountSecurity.user_dot_files="Y"
# Q:  Would you like delete .shosts, .rhosts, and .netrc from the local user accounts? [Y]
AccountSecurity.user_rc_files="Y"
# Q:  Would you like to chroot your HP Web Services Apache Server? [N]
Apache.chrootapache="N"
# Q:  Would you like to deactivate the HP Web Services Apache Web Server?
Apache.deactivate_hpws_apache="Y"
# Q:  Would you like to chroot named and set it to run as a non-root user? [N]
DNS.chrootbind="N"
# Q:  Would you like to present a ftpd banner upon login to FTP?
FTP.ftpbanner="Y"
# Q:  Would you like to disallow ftpd system account logins?
FTP.ftpusers="Y"
# Q:  Should Bastille scan for world-writeable directories?
FilePermissions.world_writeable="Y"
# Q:  Would you like to set up a login banner for graphical login?
HP_UX.gui_banner="Y"
# Q:  Are you willing to mail your configuration and TODO list to HP?
HP_UX.mail_config="N"
# Q:  Would you like Bastille to make the suggested ndd changes?
HP_UX.ndd="Y"
# Q:  Would you like information about other security tools that HP has to offer?
HP_UX.other_tools="N"
# Q:  Would you like to restrict remote access to swlist?
HP_UX.restrict_swacls="N"
# Q:  Would you like instructions in your TODO list on how to run a port scan?
HP_UX.scan_ports="N"
# Q:  Would you like to set the GUI screen-saver timeout to 10 minutes? [Y]
HP_UX.screensaver_timeout="Y"
# Q:  Would you like to enable kernel-based stack-execute protection?
HP_UX.stack_execute="Y"
# Q:  Would you like Bastille to make TCP ISN RFC 1948 compliant?
HP_UX.tcp_isn="Y"
# Q:  Should Bastille setup basic firewall rules with these properties?
IPFilter.configure_ipfilter="N"
# Q:  Would you like to configure the HP-UX Secure Shell daemon to use generally-accepted defaults? [Y]
MiscellaneousDaemons.configure_ssh="Y"
# Q:  Would you like to restrict the diagnostic daemon to local connections?
MiscellaneousDaemons.diagnostics_localonly="N"
# Q:  Would you like to disable the Bind/DNS server on this system.
MiscellaneousDaemons.disable_bind="Y"
# Q:  Would you like to disable both the ptydaemon and vtdaemon?
MiscellaneousDaemons.disable_ptydaemon="Y"
# Q:  Would you like to disable pwgrd?
MiscellaneousDaemons.disable_pwgrd="N"
# Q:  Should Bastille deactivate rbootd?
MiscellaneousDaemons.disable_rbootd="Y"
# Q:  Would you like to disable the HP-UX CIFS client?
MiscellaneousDaemons.disable_smbclient="Y"
# Q:  Would you like to disable the HP-UX CIFS (Samba) Server?
MiscellaneousDaemons.disable_smbserver="Y"
# Q:  Would you like to deactivate NFS client daemons? [Y]
MiscellaneousDaemons.nfs_client="Y"
# Q:  Would you like to disable the NFS and RPC infrastructure? [N]
MiscellaneousDaemons.nfs_core="Y"
# Q:  Would you like to deactivate the NFS server on this system? [Y]
MiscellaneousDaemons.nfs_server="Y"
# Q:  Would you like to deactivate NIS client programs? [Y]
MiscellaneousDaemons.nis_client="Y"
# Q:  Would you like to deactivate NIS server programs? [Y]
MiscellaneousDaemons.nis_server="Y"
# Q:  Would you like to deactivate NIS+ client programs? [Y]
MiscellaneousDaemons.nisplus_client="Y"
# Q:  Would you like to deactivate NIS+ server programs? [Y]
MiscellaneousDaemons.nisplus_server="Y"
# Q:  Would you like to disable the "nobody" user in the ONC Secure RPC?
MiscellaneousDaemons.nobody_secure_rpc="Y"
# Q:  Should Bastille deactivate legacy services?
MiscellaneousDaemons.other_boot_serv="Y"
# Q:  Would you like to disable SNMPD? [Y]
MiscellaneousDaemons.snmpd="Y"
# Q:  Would you like to restrict the system logging daemon to local connections?
MiscellaneousDaemons.syslog_localonly="Y"
# Q:  Would you like to disallow remote X logins?
MiscellaneousDaemons.xaccess="Y"
# Q:  Should Bastille set up a cron job to run SWA or SPC?
Patches.spc_cron_run="N"
# Q:  Does this machine require a proxy to ftp to the Internet?
Patches.spc_proxy_yn="N"
# Q:  Should Bastille run SWA/SPC for you?
Patches.spc_run="Y"
# Q:  Would you like to disable printing? [N]
Printing.printing="Y"
# Q:  Would you like to display "Authorized Use" messages at log-in time? [Y]
SecureInetd.banners="Y"
# Q:  Should Bastille ensure inetd's bootp service does not run on this system?
SecureInetd.deactivate_bootp="Y"
# Q:  Should Bastille ensure that inetd's built-in services do not run on this system?
SecureInetd.deactivate_builtin="Y"
# Q:  Should Bastille ensure that inetd's CDE helper services do not run on this system?
SecureInetd.deactivate_dttools="Y"
# Q:  Should Bastille ensure inetd's finger service does not run on this system?
SecureInetd.deactivate_finger="Y"
# Q:  Should Bastille ensure inetd's FTP service does not run on this system? [y]
SecureInetd.deactivate_ftp="Y"
# Q:  Should Bastille ensure inetd's ident service does not run on this system?
SecureInetd.deactivate_ident="Y"
# Q:  Should Bastille ensure that the inetd's klogin and kshell services do not run on this system?
SecureInetd.deactivate_ktools="Y"
# Q:  Should Bastille ensure inetd's ntalk service does not run on this system?
SecureInetd.deactivate_ntalk="Y"
# Q:  Should Bastille ensure that inetd's printer service does not run on this system?
SecureInetd.deactivate_printer="Y"
# Q:  Should Bastille ensure that inetd's recserv service does not run on this system?
SecureInetd.deactivate_recserv="Y"
# Q:  Should Bastille ensure that inetd's rquotad service does not run on this system?
SecureInetd.deactivate_rquotad="Y"
# Q:  Should Bastille ensure that the login, shell, and exec services do not run on this system?
SecureInetd.deactivate_rtools="Y"
# Q:  Should Bastille ensure that inetd's swat service does not run on this system?
SecureInetd.deactivate_swat="N"
# Q:  Should Bastille ensure the telnet service does not run on this system? [y]
SecureInetd.deactivate_telnet="Y"
# Q:  Should Bastille ensure inetd's TFTP service does not run on this system?
SecureInetd.deactivate_tftp="Y"
# Q:  Should Bastille ensure that inetd's time service does not run on this system?
SecureInetd.deactivate_time="Y"
# Q:  Should Bastille ensure inetd's uucp service does not run on this system?
SecureInetd.deactivate_uucp="Y"
# Q:  Should Bastille enable logging for FTP connections?
SecureInetd.ftp_logging="N"
# Q:  Should Bastille tell you to disable unneeded inetd services in the TODO list?
SecureInetd.inetd_general="Y"
# Q:  Should Bastille enable logging for all inetd connections?
SecureInetd.log_inetd="Y"
# Q:  Who is responsible for granting authorization to use this machine?
SecureInetd.owner="its owner"
# Q:  Would you like to run sendmail via cron to process the queue? [N]
Sendmail.sendmailcron="Y"
# Q:  Do you want to stop sendmail from running in daemon mode? [Y]
Sendmail.sendmaildaemon="Y"
# Q:  Would you like to disable the VRFY and EXPN sendmail commands? [Y]
Sendmail.vrfyexpn="N"
