acct,rc,('acct'),('START_ACCT'),('')
audio,rc,('audio'),('AUDIO_SERVER'),('Aserver')
auditing,rc,('auditing'),('AUDITING'),('audomon' 'audevent')
autofs,rc,('autofs'),('AUTOFS'),('automountd')
bootp,inet,,('bootps'),('bootpd')
builtin,inet,,('daytime' 'chargen' 'echo' 'discard'),('')
cron,rc,('cron'),('CRON'),('cron')
cifsclient,rc,('cifsclient'),('RUN_CIFSCLIENT'),('cifsclient')
dmi,rc,('Dmiconfig'),('START_DMI'),('dmisp' 'hpuxci' 'swci' 'sdci')
dtlogin.rc,rc,('desktop'),('DESKTOP'),('dtlogin' 'dtrc')
dttools,inet,,('dtspc' '[^#].*ttdbserver' '[^#].*cmsd'),('dtspcd' 'rpc.ttdbserver' 'rpc.cmsd')
finger,inet,,('finger'),('fingerd')
ftp,inet,,('ftp'),('ftpd')
hpws_apache,rc,('hpws_apacheconf'),('HPWS_APACHE_START'),('httpd')
ident,inet,,('ident' 'auth'),('identd')
instl_boots,inet,,('inst_boots'),('instl_bootd')
ktools,inet,,('kshell' 'klogin'),('remshd -K' 'rlogind -K')
lp,rc,('lp'),('LP'),('lpsched')
named,rc,('namesvrs'),('NAMED'),('named')
mrouted,rc,('netdaemons'),('MROUTED'),('mrouted')
rarpd,rc,('netconf'),('RARPD),('rarpd')
rdpd,rc,('netconf'),('RDPD'),('rdpd')
rwhod,rc,('netdaemons'),('RWHOD'),('rwhod')
ddfs,rc,('netdaemons'),('DDFA'),('dpp')
nfs.core,rc,('nfsconf'),('NFS_CORE'),('nfs.core')
nfs.client,rc,('nfsconf'),('NFS_CLIENT' 'AUTOMOUNT' 'AUTOFS'),('biod' 'automountd')
nfs.core,rc,('nfsconf'),('NFS_CORE'),('rpcbind' 'rpc.rexd' 'rpc.rstatd' 'rpc.ruserd' 'rpc.rwalld' 'rpc.rquotad' 'rpc.sprayd')
nfs.server,rc,('nfsconf'),('NFS_SERVER'),('nfsd')
nis.client,rc,('namesvrs'),('NIS_CLIENT'),('ypbind')
nis.server,rc,('namesvrs'),('NIS_MASTER_SERVER' 'NIS_SLAVE_SERVER'),('ypserv' 'ypserv')
nisp.client,rc,('namesvrs'),('NISPLUS_CLIENT'),('nis_cachemgr')
nisp.server,rc,('namesvrs'),('NISPLUS_SERVER'),('rpc.nisd')
ntalk,inet,,('ntalk'),('ntalkd')
pd,rc,('pd'),('PD_CLIENT'),('pdclientd')
printer,inet,,('printer'),('rlpdaemon -i')
ptydaemon,rc,('ptydaemon'),('PTYDAEMON_START'),('ptydaemon')
pwgr,rc,('pwgr'),('PWGR'),('pwgrd')
rbootd,rc,('netdaemons'),('START_RBOOTD'),('rbootd')
recserv,inet,,('recserv'),('recserv')
registrar,inet,,('registrar'),('registrar')
Rpcd,rc,('Rpcd'),('START_RPCD'),('rpcd')
rquotad,inet,,('[^#].*rquotad'),('rpc.rquotad')
rstatd,inet,,('[^#].*rstatd'),(rpc.rstatd)
rtools,inet,,('login' 'shell' 'exec'),('rlogind' 'remshd' 'rexecd')
rusersd,inet,,('[^#].*rusersd'),(rpc.rusersd)
rwalld,inet,,('[^#].*rwalld'),(rpc.rwalld)
samba,rc,('samba'),('RUN_SAMBA'),('smbd' 'nmbd')
samd,inittab,('samd'),('samd'),('samd')
sendmail,rc,('mailservs'),('SENDMAIL_SERVER'),('sendmail')
secsh,rc,('sshd'),('SSHD_START'),('sshd')
slsd,rc,('slsd'),('SLSD_DAEMON'),('SLSd_daemon')
sprayd,inet,,('[^#].*sprayd'),(rpc.sprayd)
snaplus2,rc,('snaplus2'),('START_SNAPLUS' 'START_SNANODE' 'START_SNAINETD'),('snapdaemon')
SnmpHpunix,rc,('SnmpHpunix'),('SNMP_HPUNIX_START'),('snmpdm')
SnmpMaster,rc,('SnmpMaster'),('SNMP_MASTER_START'),('snmpdm')
SnmpMib2,rc,('SnmpMaster'),('SNMP_MIB2_START'),('snmpdm')
SnmpTrpDst,rc,('SnmpTrpDst'),('SNMP_TRAPDEST_START'),('snmpdm')
swat,inet,,('swat'),('swat')
swagentd,rc,('swconfig'),('SW_ENABLE_SWAGENTD'),('swagent')
syncer,rc,('syncer'),('SYNCER'),('syncer')
telnet,inet,,('telnet'),('telnetd')
tftp,inet,,('tftp'),('tftpd')
time,inet,,('time'),('')
tps,rc,('tps'),('XPRINTSERVERS'),('_unknown')
uucp,inet,,('uucp'),('uucpd')
vt,rc,('vt'),('VTDAEMON_START'),('vtdaemon')
xfs,rc,('xfs'),('RUN_X_FONT_SERVER'),('xfs')
