apmd,rc,(),('apmd')
acpid,rc,(),('acpid')
audit,rc,(),('auditd')
acct,rc,(),('acct'),SE
bluetooth,rc,(),('hcid' 'sdpd')
cups,rc,(),('cupsd')
cups-lpd,inet,(),('cups-lpd')
lpd,rc,(),('lpd')
dhcpd,rc,(),('dhcpd')
hpoj,rc,(),('ptal-mlcd' 'ptal-printd' 'ptal-photod')
isdn,rc,(),('isdnlog')
kudzu,rc,(),('kudzu')
vsftpd,rc,(),('vsftpd'),RH
vsftpd,inet,(),('vsftpd'),SE
ftp,inet,(),('vsftpd')
gated,rc,(),('gated')
gpm,rc,(),('gpm')
inn,rc,(),('cnfsstat' 'innwatch' 'innd' 'ovdb_server' 'ovdb_monitor')
mDNSResponder,rc,(),('mDNSResponder')
nfslock,rc,(),('rpc.statd' 'rpc.lockd')
nfsserver,rc,(),('rpc.nfsd' 'rpc.mountd')
ypbind,rc,(),('ypbind')
nis.server,rc,(),('ypserv')
nis.client,rc,(),('ypbind')
pcmcia,rc,(),('cardmgr')
routed,rc,(),('routed')
snmpd,rc,(),('snmpd')
telnet,inet,(),('in.telnetd')
sendmail,rc,(),('sendmail')
apache2,rc,(),('httpd2-prefork')
named,rc,(),('named')
httpd,rc,(),('httpd')
apache,rc,(),('httpd')
psacct,rc,(),('psacct'),RH
nfs,rc,(),('rpc.nfsd' 'rpc.mountd')
nfsserver,rc,(),('rpc.nfsd' 'rpc.mountd')
